{{ "layout" : "pagd.myblog",
   "tayra.ttlcompiler.nocache" : true,
   "tayra.ttlcompiler.beautify_html" : false,
   "age_scale" : "second",
   "google_webfonts" : [
       "http://fonts.googleapis.com/css?family=Inconsolata"
   ],
   "style" : {{
       "font-family" : "Inconsolata"
   }},
   "show_email" : true,
   "social_sharing" : "twitter,fb,hn,linkedin,gplus",
   "disqus" : false,
   "skip_context" : "",
   "copyright" : ""
}}
