{{ "layout" : "pagd.myblog",
   "IContent" : "pagd.native",
   "style" : {{
       "fontFamily" : "Inconsolata"
   }},
   "google_webfonts" : [{{
       "src" : "http://fonts.googleapis.com/css?family=Inconsolata"
   }}]
}}
